<ion-list>


  <ion-card color="light">

    <ion-card-header>
      <ion-card-subtitle>Perímetro</ion-card-subtitle>
      <br>
      <ion-card-title>Triángulo</ion-card-title>

    </ion-card-header>
    <ion-card-content>
      El perímetro de un triangulo es la suma de las logitufes de sus tres lados.En otra palabras, es la medida
      total del contorno o borde del triángulo
    </ion-card-content>
    <img alt="triangulo"
      src="https://github.com/kaarenzu/e1-figuras-geometricas/blob/main/src/app/triangulo/img-triangulo.png?raw=true" />
  </ion-card>
  <ion-item>
    <ion-input label="Lado A (cm)" labelPlacement="stacked" placeholder="Ingrese el radio">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-button>CALCULAR EL PÉRIMETRO</ion-button>
  </ion-item>

</ion-list>